<footer class="page-footer brown lighten-4 z-depth-2
">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">動画サービス</h5>
        <p class="grey-text text-lighten-4">本サービスでは...............</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">ソーシャル</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Google</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 sparta-hachiman
    <%= link_to "About us", root_path, class: 'gray-text text-lighten-4 right' %>
    </div>
  </div>
</footer>
