<footer class="page-footer z-depth-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">プログラミングを動画で学習できるサービス</h5>
        <p class="grey-text text-lighten-4">MAGICTは動画で分かりやすくRuby/Ruby on Railsの勉強ができる初心者の方におすすめの動画学習サイトです。みんなで協力しあってRubyを学びましょう!!!!!!!要望等ありましたらメッセージください、Qiitaの動画版みたいなのになって欲しいです</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">ソーシャル</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Google</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 natsuki sugawara
    <%= link_to "About us", pages_about_path, class: 'gray-text text-lighten-4 right' %>
    </div>
  </div>
</footer>
