<%= form_for @request do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :title, class: 'validate', id: '', placeholder: 'タイトル' %>
        </div>
        <div class="input-field col s12">
          <%= f.text_area :description, class: 'validate', id: '', placeholder: '内容', style: "height: 330px" %>
        </div>
        <div class='input-field col s12'>
          <b><%= f.submit '送信', class: 'waves-effect waves-light btn-large  cyan lighten-4 z-depth-4' %></b>
        </div>
      </div>
  </div>
<% end %>