// 見積一覧
table.quotation_index {
  thead th {
    &:nth-child(1) { width: 10%; }
    &:nth-child(2) { width: 36%; }
    &:nth-child(3) { width:  7%; }
    &:nth-child(4) { width:  7%; }
    &:nth-child(5) { width: 20%; }
    &:nth-child(6) { width: 20%; }
  }
}


// 見積詳細
table.quotation_details_form {
  thead th {
    &:nth-child(1)  { width:  3%; }
    &:nth-child(2)  { width: 14%; }
    &:nth-child(3)  { width: 16%; }
    &:nth-child(4)  { width: 14%; }
    &:nth-child(5)  { width:  5%; }
    &:nth-child(6)  { width:  5%; }
    &:nth-child(7)  { width: 10%; }
    &:nth-child(8)  { width:  8%; }
    &:nth-child(9)  { width:  5%; }
    &:nth-child(10) { width: 10%; }
    &:nth-child(11) { width:  8%; }
  }

  tr.empty {
    border: none;
    height: 10px;
  }
  td {
    padding: 2px;
  }
  th {
    padding: 4px 6px;
    background-color: #808080;
    border: 1px solid #717171;
    color: #fff;
  }
  tbody td .input {
    border-radius: 0;
  }

  td div.amount {
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: right;
    font-size: 12px;
  }

  td div.delete-icon-wrapper {
    height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  td div.delete-icon-wrapper i {
    vertical-align: middle;
    color: #b34e4d;
  }

  tfoot tr.total {
    background-color: #C8E8E2;
  }
  tfoot tr.total td {
    color: #333;
  }
  tfoot tr.total div.amount {
    height: 16px;
    line-height: 16px;
  }
}

// 実行予算登録
table.budget_costs_form {
  thead th {
    padding: 3px 5px;
    white-space: nowrap;

    &:nth-child(1)  { width:  3%; }
    &:nth-child(2)  { width: 17%; }
    &:nth-child(3)  { width:  9%; }
    &:nth-child(4)  { width:  9%; }
    &:nth-child(5)  { width:  9%; }
    &:nth-child(6)  { width:  3%; }
    &:nth-child(7)  { width:  5%; }
    &:nth-child(8)  { width:  9%; }
    &:nth-child(9)  { width:  3%; }
    &:nth-child(10) { width:  5%; }
    &:nth-child(11) { width: 12%; }
    &:nth-child(12) { width:  2%; }
  }
  tr.new {
    background: #F2E4EE;
  }
  tr.new td {
    border-color: #EBCCE2;
  }

  tr.total {
    background-color: #E7D5ED;
    height: 27px;
  }
  tr.total th {
    background-color: #E7D5ED;
    border-color: #DAC3E3;
    color: #BE66DE;
    font-weight: bold;
    padding: 1px 5px;
    text-align: right;
    vertical-align: middle;
  }
  tr.total td {
    border-color: #DAC3E3;
  }

  tbody td {
    padding: 1px 5px;
    vertical-align: middle;
  }

  tbody td .input {
    border-radius: 0;
  }
  tbody td label {
    cursor: default;
  }

  tbody td.input-cell {
    padding: 1px;
  }

  th.blank {
    border-left:  none;
    border-right: none;
  }

  tr:not(.new) th.amount,
  tr:not(.new) td.amount {
    background-color: #E1E9F5;
    border-color: #BACEE8;
  }

  th.amount {
    color: #4478D4;
  }

  tr:not(.new) th.final-amount,
  tr:not(.new) td.final-amount {
    background-color: #E8F2E4;
    border-color: #AFE09D;
  }

  th.final-amount {
    color: #3D9E19;
  }
}

// 伝票詳細
table.slip_details_form {
  thead th {
    &:nth-child(1)  { width:  3%; }
    &:nth-child(2)  { width: 10%; }
    &:nth-child(3)  { width: 10%; }
    &:nth-child(4)  { width:  8%; }
    &:nth-child(5)  { width:  8%; }
    &:nth-child(6)  { width:  8%; }
    &:nth-child(7)  { width: 10%; }
    &:nth-child(8)  { width:  8%; }
    &:nth-child(9)  { width: 10%; }
    &:nth-child(10) { width:  8%; }
    &:nth-child(11) { width:  6%; }
    &:nth-child(12) { width:  3%; }
  }

  tr.empty {
    border: none;
    height: 10px;
  }
  td {
    padding: 2px;
  }
  th {
    padding: 4px 6px;
    background-color: #808080;
    border: 1px solid #717171;
    color: #fff;
  }
  tbody td .input {
    border-radius: 0;
  }

  td div.amount {
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: right;
    font-size: 12px;
  }

  td div.delete-icon-wrapper {
    height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  td div.delete-icon-wrapper i {
    vertical-align: middle;
    color: #b34e4d;
  }

  tfoot tr.total {
    background-color: #C8E8E2;
  }
  tfoot tr.total td {
    color: #333;
  }
  tfoot tr.total div.amount {
    height: 16px;
    line-height: 16px;
  }
}

// FireFox用ハック
html:not([lang*=""]) table.budget_costs_form {
  border-collapse: separate;
}
