// Override initial variables here
// You can add new ones or update existing ones:

//$blue: #72d0eb // Update blue
//$pink: #ffb3b3 // Add pink
$family-serif: Meiryo, 'メイリオ', 'MS PGothic', arial, helvetica, sans-serif, serif;
$family-primary: $family-serif;
$body-background: #fff;
$link: #3366CC;

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

//$danger: $orange // Use the existing orange

@import "bulma";

// align
.text-left   { text-align: left;   }
.text-center { text-align: center; }
.text-right  { text-align: right;  }

// width
.w10    { width: 10%;   }
.w15    { width: 15%;   }
.w20    { width: 20%;   }
.w25    { width: 25%;   }
.w30    { width: 30%;   }
.w40    { width: 40%;   }
.w50    { width: 50%;   }
.w60    { width: 60%;   }
.w65    { width: 65%;   }
.w70    { width: 70%;   }
.w80    { width: 80%;   }
.w90    { width: 90%;   }
.w100   { width: 100%;  }
.w30px  { width: 30px;  }
.w40px  { width: 40px;  }
.w50px  { width: 50px;  }
.w60px  { width: 60px;  }
.w70px  { width: 70px;  }
.w85px  { width: 85px;  }
.w90px  { width: 90px;  }
.w100px { width: 100px; }
.w120px { width: 120px; }

// font-size
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }

.is-normal { font-weight: normal; }
.is-bold   { font-weight: bold; }

// margin
.ma0  { margin: 0; }
.mb0  { margin-bottom:  0px; }
.mb5  { margin-bottom:  5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mr5  { margin-right:   5px; }
.ml10 { margin-left:   10px; }
.ml20 { margin-left:   20px; }

// padding
.pa0  { padding: 0; }
.pa3  { padding: 3px; }
.pl10 { padding-left:  10px; }
.pl20 { padding-left:  20px; }

// color
.red   { color: #b34e4d; }
.gray  { color: #888888; }
.blue  { color: #0066cc; }
.blue2 { color: #0099cc; }
.white { color: #FFFFFF; }
.green { color: #3D9E19; }

// background-color
.bg-blue        { background-color: #71C8FE; }
.bg-light-blue  { background-color: #C1E8FE; }
.bg-light-blue2 { background-color: #f0f4fa; }
.bg-light-gray  { background-color: $grey-lighter }

html,
body,
div.wrapper {
  height: 100%;
}

div.wrapper {
  min-height: 100%; /* 最小の高さ */
}

body {
  font-size: 12px;
}

body > div.wrapper {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

div.display_entries {
  display: table-cell;
  vertical-align: middle;
}

b.page_count {
  color: #008080;
  font-size: 1.4em;
  font-weight: bold;
}

h2.bordered,
h3.bordered,
h4.bordered {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

h4.sub-title {
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

th.combined-cell,
td.combined-cell {
  vertical-align: middle;
}

/* index用テーブル */
.table.index th {
  padding: 4px;
  background-color: #777;
  color: #fff;
}

.table.index td {
  color: #444;
  padding: 3px;
}

.table.index tr.total {
  background-color: #C8E8E2;
}

.table.index caption .level {
  margin-bottom: 0;
}

.table.index tr.deleted {
  background-color: silver;
}

/* form用テーブル */
.table.form tr,
.table.form th {
  background-color: inherit;
  vertical-align: middle;
}

.table.form th {
  width: 20%;
  padding: 2px 6px;
}
.table.form td {
  padding: 2px;
}

.table.form th label {
  font-weight: bold;
}

.table.form td label {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  cursor: auto;
}

.table.form td em {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  font-style: normal;
  color: #888888;
}

.table.form th.empty {
  border: none;
  background-color: inherit;
}

.table.form td.no-border {
  border: none;
}

.table.form input {
  border-radius: 0;
}

.table.information th,
.table.information td {
  padding: 2px 6px;
}

.table.information tr:hover {
  background-color: white;
}

.table.information th.blank {
  border-left:  none;
  border-right: none;
}

.table.information th.amount {
  background-color: #E1E9F5;
  border-color: #BACEE8;
  color: #4478D4;
}

.table.information th.final-amount {
  background-color: #E8F2E4;
  border-color: #AFE09D;
  color: #3D9E19;
}
.table.information td label {
  cursor: inherit;
}

input:focus,
select:focus,
input:focus,
select:focus {
  border-color: #99caff;
  background-color: #e6f2ff;
}

.table.form tr.nested_label {
  th {
    &:nth-child(1) { width: 12%; }
    &:nth-child(2) { width:  8%; }
  }
}

.table.dark th {
  border-color: #717171;
}
.table.dark td {
  border-color: #E0E0E0;
}

.table.dark th {
  color: #fff;
  background-color: #808080;
}

.table.light-blue th,
.table.light-blue td {
  border: 1px solid #B5CDDD;
}

.table.light-blue th {
  color: #465258;
  background: #D2E0EA; /* Old browsers */
}
.table.light-blue th label {
  font-weight: bold;
}

.table.light-blue td {
  color: #848686;
  background-color: #E9F0F6;
}

.table td div.delete-icon-wrapper {
  height: 24px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  position: relative;
}

.table td div.delete-icon-wrapper i {
  vertical-align: middle;
  color: #b34e4d;
}

/* form error用拡張 */
.field_with_errors input,
.field_with_errors select {
  border-width: 1px solid;
  border-color: #ed6c63;
}

/* スペース */
div.spacer,
span.spacer {
  display: inline-block;
}

.readonly-color {
  background-color: #f5f7fa;
}

// datetime-picker
span.flatpickr-day.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.search-form {
  fieldset {
    //border: 1px solid #d2e9ff;
    display: inline-block;
    padding: 5px 20px 15px;

    legend {
      font-size: 1.1rem;
      padding: 0 10px;
    }

    legend i.fa {
      height: 20px;
      line-height: 20px;
    }

    label {
      color: #0064d2;
      font-weight: normal;
      margin-bottom: 2px;
    }

    .control .unit {
      display: inline-flex;
      height: 24px;
      line-height: 24px;
    }

    p.is-button {
      bottom: 0;
      position: absolute;
    }
    p.is-radio {
      padding-top: 5px;
    }
    p.is-radio label {
      color: #444;
    }
    .is-checkbox p {
      position: relative;
      height: 100%;
    }
    .is-checkbox p label {
      position: absolute;
      bottom: 0;
    }
  }
}

// DashBoard 各サービス部分
.service-wrapper {
  position: relative;
  padding-bottom: 12px;
}

.service-card-footer {
  position: absolute;
}

.service-card-footer-content {
  position: relative;
}

.service-card-footer-content label {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 24px;
}

.service-card-footer-content p {
  position: absolute;
  display: block;
  width: 100px;
  height: 24px;
  line-height: 24px;
  color: white;
  padding-left: 6px;
  z-index: 1;
}

.service-card-footer-content p:after {
  content: ' ▶';
}

.service-card-footer-content p.open:after {
  content: ' ▼'
}

// 各サービス業務管理
.service-card-footer-content label.business {
  border-top: 24px solid #71C8FE;
  border-right: 15px solid transparent;
}

nav.nav .nav-item {
  text-shadow: black 0 1px 0;
}
