<div class="row" data-no-turbolink >
<br/>

<% @projects.each do |project| %>
    <%= link_to project do %>
      <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light" style="height: 230px">
            <%= image_tag project.image %>
          </div>

          <div class="card-content" style="height: 4em">
            <!-- <span class="card-title grey-text text-darken-4 truncate"> -->
            <span class ='truncate grey-text'>
              <%= project.shortname %>
            </span>
            <!-- </span> -->
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
