<h3>視聴可能可能プロジェクト</h3>
<div class="row" data-no-turbolink >
<br/>
<% if @projects.count > 0 %>

<% @projects.each do |project| %>
    <%= link_to project do %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block" style="height: 250px">
            <%= image_tag project.image %>
          </div>

          <div class="card-content" style="height: 7em">
            <span class="card-title grey-text text-darken-4">
              <%= project.shortname %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center">
  <h5>まだprojectを登録していません！！</h5>
  <%= link_to "projectを登録する", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
