@import "materialize";
@import "toastr";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
  }

  li {
    // color: black;
  }
// header
.h95 {
  height: 95px;
}

.image {
  padding: 15px;
  height : 75px;
  // background-color: red;
}

.black-text {
  color: black;
  font-weight: bold;
}



/* 大きいimageを小さくする */
.resize{
  height: 450px;
  // height: 60%;
  width: 100%;
}

.container {
  width: 95%;
}

.avatar-small {
  width: 50px;
}
.avatar-medium{
  width: 80px;
}
.mask{
  z-index: 99;
}
